@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
.header {
  padding: 40px 20px;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 30px 10px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__temp_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .information__temp_container {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .information__temp_container {
    gap: 5px;
  }
}
.information__temp_container p {
  text-align: right;
  font-weight: 700;
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  .information__temp_container p {
    font-size: 23px;
  }
}

.main__container {
  position: fixed;
  bottom: 0;
  max-height: 350px;
  width: 100%;
  height: 100%;
  background-color: #1B262C;
  opacity: 0.9;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .main__container {
    max-height: 500px;
    overflow: scroll;
  }
}
@media screen and (max-width: 767px) {
  .main__container {
    max-height: 500px;
    overflow: scroll;
  }
}

.input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #fff;
}

.search__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px;
  gap: 15px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .search__weather {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .search__weather {
    gap: 5px;
  }
}
.search__weather button {
  background: transparent;
  border: none;
}
.search__weather input {
  background: transparent;
  font-size: 20px;
  font-weight: 275;
  color: #fff;
  width: 100%;
  background: transparent;
  /* плавное изменение прозрачности  placeholder-а при фокусе */
}
.search__weather input::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff;
}
.search__weather input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
.search__weather input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff;
}
.search__weather input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff;
}
.search__weather input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.search__weather input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.search__weather input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.search__weather input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.search__weather input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.search__weather input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.search__weather input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.search__weather input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.search__future_weather {
  padding: 20px;
}
.search__future_weather button {
  border: 1px solid #fff;
  background: transparent;
  font-weight: 700;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  border-radius: 15px;
}
.search__future_weather button:hover {
  cursor: pointer;
}

.info__weather_items {
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .info__weather_items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }
}
@media screen and (max-width: 767px) {
  .info__weather_items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
}

.info__weather_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #fff;
  padding: 0 50px;
  gap: 20px;
}
.info__weather_item:last-child {
  border-right: none;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .info__weather_item {
    gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  .info__weather_item {
    gap: 10px;
  }
}
.info__weather_item h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .info__weather_item h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .info__weather_item {
    border-right: none;
    border-bottom: 2px solid #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .info__weather_item {
    border-right: none;
    border-bottom: 2px solid #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 10px;
  }
}

.option__item {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}
.option__item:hover {
  cursor: pointer;
}

.info__weather_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .info__weather_options {
    gap: 15px;
  }
}
@media screen and (max-width: 767px) {
  .info__weather_options {
    gap: 10px;
  }
}
.info__weather_options p {
  text-align: center;
  margin: 0 auto;
}

.pressure__container h3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
.pressure__container img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background: url(../../public/images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #fff;
  border: none;
}

input, textarea {
  outline: none;
  border: none;
}

._container {
  max-width: 1370px;
  padding: 0px 15px;
  margin: 0 auto;
}