@import 'variables';

.header {
	padding: 40px 20px;
	@media screen and (max-width: 767px) {
		padding: 30px 10px;
	}
}

h1 {
	@media screen and (max-width: 767px) {
		font-size: 30px;
	}
}

.header__wrapper {
	display: flex;
	align-items: center; 
	justify-content: space-between;
}

.information__temp_container {
	display: flex;
	align-items: center; 
	@include gapAdap(15px, 10px, 5px);

	p {
		text-align: right;
		font-weight: 700;
		font-size: 25px; 
		@media screen and (max-width: 767px) {
			font-size: 23px;
		}
	}
}