// Значений по умолчанию 
$color: #fff;
$color_primary: #78CFFF;
$color_hover: #888888;
$color_active: #78CFFF;
$color_visibility: #fff;

$bg_color: #1B262C;
$bg_color_dark: #1B262C;

$font:'Poppins', sans-serif;
$font_size: 20;
$font_weight: 400;
$line_height: 65;

$min_width: 320;
$max_width: 1440;
$max_width_container: 1270; 